#console {
	padding: 10px;
	background-color: #eee;
	color: black;
	margin: 0;
	font-size: small;
	font-weight: normal;
	font-family: 'trebuchet ms', verdana, arial;
	font-size: 10pt;
	display: none;
}

